<div class="row m-b-18px">
  <div class="col-md-12">
    <a (click)="readProducts()" class='btn btn-primary pull-right'>
      <span class='glyphicon glyphicon-list'></span> Read Product
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class='table table-hover table-responsive table-bordered'>
      <tr>
        <td>Name Product</td>
        <td>{{ product?.name }}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{ product?.price }}</td>
      </tr>

      <tr>
        <td>Description</td>
        <td>{{ product?.description }}</td>
      </tr>

      <tr>
        <td>Category</td>
        <td>{{ product?.category_name }}</td>
      </tr>
    </table>
  </div>
</div>